<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="com.mango.mifclient.dependencies.site.target" sequenceNumber="19">
<locations>
<location path="${project_loc:eu.ddmore.mdleditor.target}/plugins" type="Directory"/>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jst.ws.cxf.feature.feature.group" version="1.1.1.v201301072322-7H79FI1FAKlbpxGw_Xn0myE7G9E"/>
<unit id="org.eclipse.e4.rcp.feature.group" version="1.1.2.v20130130-191718-91FUvGP7GIX2Kgz-z-gvjMvXV1NS"/>
<unit id="org.eclipse.sdk.ide" version="4.2.2.M20130204-1200"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.8.0.v20121212-203907-7M7fA78g4_y-gDvtH0ZcFvhMPDZJ"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
</locations>
</target>
