<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product name="%productName" application="org.eclipse.ui.ide.workbench">
         <property
               name="appName"
               value="%productName">
         </property>
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/eu.ddmore.mdleditor.application/css/default.css">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.platform/images/">
         </property>
         <property
             name="aboutText"
             value="%aboutText">
         </property> 
      </product>
   </extension>
   
</plugin>
