<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.ddmore.org/mdl/Mdl" 
       class = "org.ddmore.mdl.mdl.MdlPackage"
       genModel = "src-gen/org/ddmore/mdl/Mdl.genmodel" /> 
	
  </extension>

</plugin>
