<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="mdl"
            id="eu.ddmore.mdl.Mdl"
            name="Mdl Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="eu.ddmore.mdl.Mdl.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="eu.ddmore.mdl.Mdl.validate">
         <activeWhen>
            <reference
                    definitionId="eu.ddmore.mdl.Mdl.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="eu.ddmore.mdl.Mdl.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="eu.ddmore.mdl.Mdl.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
      <!-- N.K. -->
      <handler
	  	class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:eu.ddmore.mdl.ui.handler.ConvertToPharmMLHandler"
	    commandId="eu.ddmore.mdl.ui.handler.ConvertToPharmML">
      </handler>
       <handler
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:eu.ddmore.mdl.ui.handler.ConvertToPharmMLHandler_PE"
            commandId="eu.ddmore.mdl.ui.handler.ConvertToPharmML_PE">
      </handler>
      <!--handler
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:eu.ddmore.mdl.ui.handler.NMTranToMDLHandler_PE"
            commandId="eu.ddmore.mdl.ui.handler.NMTranToMDL_PE">
      </handler-->
      <!--handler
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:eu.ddmore.mdl.ui.handler.ValidatePharmMLHandler_PE"
            commandId="eu.ddmore.mdl.ui.handler.ValidatePharmML_PE">
      </handler-->
      <!--
      <handler
	  	class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:eu.ddmore.mdl.ui.handler.ConvertToNONMEMHandler"
	    commandId="eu.ddmore.mdl.ui.handler.ConvertToNONMEM">
      </handler>
      <handler
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:eu.ddmore.mdl.ui.handler.ConvertToNONMEMHandler_PE"
            commandId="eu.ddmore.mdl.ui.handler.ConvertToNONMEM_PE">
      </handler>
      -->
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="eu.ddmore.mdl.Mdl.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="eu.ddmore.mdl.Mdl" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="eu.ddmore.mdl.Mdl.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="eu.ddmore.mdl.Mdl" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="eu.ddmore.mdl.Mdl"
            name="Mdl">
            <keywordReference id="eu.ddmore.mdl.ui.keyword_Mdl"/>
        </page>
        <page
            category="eu.ddmore.mdl.Mdl"
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="eu.ddmore.mdl.Mdl.coloring"
            name="Syntax Coloring">
            <keywordReference id="eu.ddmore.mdl.ui.keyword_Mdl"/>
        </page>
        <page
            category="eu.ddmore.mdl.Mdl"
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="eu.ddmore.mdl.Mdl.templates"
            name="Templates">
            <keywordReference id="eu.ddmore.mdl.ui.keyword_Mdl"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="eu.ddmore.mdl.Mdl"
            name="Mdl">
            <keywordReference id="eu.ddmore.mdl.ui.keyword_Mdl"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="eu.ddmore.mdl.ui.keyword_Mdl"
            label="Mdl"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="eu.ddmore.mdl.Mdl.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="eu.ddmore.mdl.ui.handler.ConvertToPharmML"
            name="Convert to PharmML">
      </command>
      <command
            id="eu.ddmore.mdl.ui.handler.ConvertToPharmML_PE"
            name="Convert to PharmML (PE)">
      </command>
      <command
            id="eu.ddmore.mdl.ui.handler.NMTranToMDL_PE"
            name="Convert to MDL (PE)">
      </command>
      <!--command
            id="eu.ddmore.mdl.ui.handler.ValidatePharmML_PE"
            name="Validate PharmML (PE)">
      </command-->
      <!--
      <command
            id="eu.ddmore.mdl.ui.handler.ConvertToNONMEM"
            name="Convert to NONMEM">
      </command>
      <command
            id="eu.ddmore.mdl.ui.handler.ConvertToNONMEM_PE"
            name="Convert to NONMEM (PE)">
      </command>

      -->
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="eu.ddmore.mdl.Mdl.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="eu.ddmore.mdl.Mdl.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="eu.ddmore.mdl.Mdl.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="eu.ddmore.mdl.Mdl.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="eu.ddmore.mdl.Mdl.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="eu.ddmore.mdl.Mdl.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="eu.ddmore.mdl.Mdl.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="mdl">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="mdl">
        </resourceServiceProvider>
    </extension>


   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
            fileExtensions="mdl"
            >
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="eu.ddmore.mdl.Mdl"
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="eu.ddmore.mdl.Mdl.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="eu.ddmore.mdl.ui.keyword_Mdl"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="eu.ddmore.mdl.Mdl"
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="eu.ddmore.mdl.Mdl.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="eu.ddmore.mdl.ui.keyword_Mdl"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- marker definitions for eu.ddmore.mdl.Mdl -->
	<extension
	        id="mdl.check.fast"
	        name="Mdl Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.fast"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="mdl.check.normal"
	        name="Mdl Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.normal"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="mdl.check.expensive"
	        name="Mdl Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.expensive"/>
	    <persistent value="true"/>
	</extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="eu.ddmore.mdl.Mdl.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="eu.ddmore.mdl.Mdl.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for eu.ddmore.mdl.Mdl -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="eu.ddmore.mdl.ui.mdl.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="eu.ddmore.mdl.ui.mdl.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="eu.ddmore.mdl.ui.mdl.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="eu.ddmore.mdl.ui.wizard.new.ddmore"
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:eu.ddmore.mdl.ui.wizard.MdlNewProjectWizard"
            finalPerspective="eu.ddmore.mdl.ui.perspective.MDL"
            id="eu.ddmore.mdl.ui.wizard.MdlNewProjectWizard"
            name="MDL Project"
            project="true">
      </wizard>
      <wizard
           category="eu.ddmore.mdl.ui.wizard.new.ddmore"
           class="eu.ddmore.mdl.ui.wizard.FileNewWizard"
           finalPerspective="eu.ddmore.mdl.ui.perspective.MDL"
           id="eu.ddmore.mdl.ui.wizard.FileNewWizard"
           name="MDL File"
           project="false">
      </wizard>
      <category
            id="eu.ddmore.mdl.ui.wizard.new.ddmore"
            name="DDMoRe">
      </category>
      <primaryWizard
            id="eu.ddmore.mdl.ui.wizard.MdlNewProjectWizard">
      </primaryWizard>
   </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="eu.ddmore.mdl.Mdl.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="eu.ddmore.mdl.Mdl.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="eu.ddmore.mdl.Mdl"
	        class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="eu.ddmore.mdl.Mdl.refactoring"
	        name="Refactoring">
	        <keywordReference id="eu.ddmore.mdl.ui.keyword_Mdl"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="eu.ddmore.mdl.Mdl.compare.contentViewers"
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="mdl">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="eu.ddmore.mdl.Mdl.compare.contentMergeViewers"
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="mdl" label="Mdl Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="eu.ddmore.mdl.Mdl.editors.documentProviders"
            class="eu.ddmore.mdl.ui.MdlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="mdl">
    </provider>
  </extension>

</plugin>
